In [1]:
i = 1
n = 5
while i<=n:
    print(i)
    i = i+1

1
2
3
4
5

In [2]:
x = int(input("enter the value"))
i = 1
while i<=10:
    print(x*i)
    i = i+1

enter the value 5

5
10
15
20
25
30
35
40
45
50

In [4]:
count = 0
while(count<15):
    count = count + 1
    print("Mr. Pankaj")

Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj
Mr. Pankaj

In [6]:
count = 0
while(count<15):
    count = count + 1
    print("My name Pankaj maurya")
else:
    print("this is the else block")

My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
My name Pankaj maurya
this is the else block

In [7]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [8]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [9]:
for x in range(15):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [10]:
for x in range(4,15):
    print(x)

4
5
6
7
8
9
10
11
12
13
14